<section class="bg-white-50 white:bg-white-900 p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <h1 class="text-2xl text-white font-bold mb-4">Level</h1>
        <div class="bg-white dark:bg-green-900/90 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="w-full md:w-1/2">
                <form class="flex items-center">
                    <div class="relative w-50">
                        <button class="bg-green-900/90 border border-green-900=/90 text-white-900/90 text-sm focus:ring-primary-500 focus:border-primary-500 block w-full p-2 dark:bg-green-900 dark:border-green-900/90 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 font-bold" type="button" (click)="togglePopUp()">+</button>
                    </div>
                </form>
            </div>
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-white uppercase bg-green-50 dark:bg-green-600 dark:text-white">
                        <tr>
                            <th scope="col" class="px-4 py-3">Id</th>
                            <th scope="col" class="px-4 py-3">Level Description</th>
                            <th scope="col" class="px-4 py-3">Minimun Score</th>
                            <th scope="col" class="px-4 py-3">Maximum Score</th>
                            <th scope="col" class="px-4 py-3">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let level of levels" class="border-b dark:border-gray-700">
                            <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{level.id}}</th>
                            <td class="px-4 py-3">{{level.description}}</td>
                            <td class="px-4 py-3">{{level.minPoints}}</td>
                            <td class="px-4 py-3">{{level.maxPoints}}</td>
                            <td class="flex gap-2 px-4 py-3">
                                <div class="card flex justify-content-center w-14 h-6 bg-green-600 text-white justify-center rounded">
                                    <button type="button" (click)="togglePopUp(level)">Edit</button>
                                </div>
                                <div class="card flex justify-content-center w-14 h-6 bg-red-800 text-white justify-center rounded">
                                    <button (click)="delete(level)" type="button">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<app-level-popup  *ngIf="showPopup" [level]="level"  (show)="showPopup=!showPopup"></app-level-popup>
<app-alert (confirmed)="delete(level, $event)"></app-alert>